<?xml version="1.0"?>
<model>
  <name>My Robot_knee</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
   <name>Andrea Patrizi</name>
   <email>patrizi.1742937@studenti.uniroma1.it</email>
  </author>

  <description>
    Two-wheeled balancing robot with actuated knee
  </description>
</model>
